
body {
	font-family : "Raleway",Helvetica,Arial,sans-serif;
}

header {
	background-color: #4b5d4b;
}

/* BASIC HEADINGS */


h2 {
	font-family: "Shadows Into Light", cursive !important;
	text-align: center;
	font-size: 50px;
	margin: 30px 0px !important;
}


/* NAV */

.navbar-collapse {
	justify-content: center;
}

.navbar-brand {
		font-family: "Shadows Into Light", cursive;

}
.navbar li {
	font-size: 20px;
	padding-left: 1rem;
	padding-right: 1rem;
	text-align: center;
	font-family: "Shadows Into Light", cursive;
}

.navbar li:hover {
}

.navbar-nav a {
	color: rgba(255,255,255, 0.5);
}

.navbar-nav a:hover, a.active{
	color: #fff;
	text-decoration: none;
}

.navbar-toggler {
	line-height: 1.5!important;
}
.navbar-toggler-icon {
	color: #fff;
}

/* JUMBOTRON */

@media screen and (max-width: 540px) {
	.jumbotron h1 {
		text-align: center;
		font-size: 60px;
		color: #fff;
		text-shadow: 2px 2px 10px #000;
		margin-top: 60px;
		font-family: "Shadows Into Light", cursive;
	}

	.jumbotron h2 {
		text-align: center;
		font-size: 35px;
		color: #fff;
		text-shadow: 2px 2px 10px #000;
		font-family : "Shadows Into Light", cursive;
	}

	.jumbotron h3 {
		text-align: center;
		font-size: 25px;
		color: #fff;
		text-shadow: 2px 2px 10px #000;
		font-family : "Shadows Into Light", cursive;
		max-width: 600px;
		margin: auto;
	}
}
@media screen and (min-width: 541px) {
	.jumbotron h1 {
			text-align: center;
			font-size: 80px;
			color: #fff;
			text-shadow: 2px 2px 10px #000;
			margin-top: 40px;
			font-family: "Shadows Into Light", cursive;
		}

		.jumbotron h2 {
			text-align: center;
			font-size: 45px;
			color: #fff;
			text-shadow: 2px 2px 10px #000;
			font-family : "Shadows Into Light", cursive;
		}

		.jumbotron h3 {
			text-align: center;
			font-size: 35px;
			color: #fff;
			text-shadow: 2px 2px 10px #000;
			font-family : "Shadows Into Light", cursive;
			max-width: 600px;
			margin: auto;
		}
}

.hero {
	background-image: url("/Users/helene/Documents/PERSO/project/personal-website/assets/im/hero-image.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
	margin-top:58px;
}

.separator {
	margin-top: 70px;
	margin-bottom: 50px !important;
	background-image: url("/Users/helene/Documents/PERSO/project/personal-website/assets/im/separator-image.jpg");
	background-size: cover;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	height: 100px;
}


/* CARDS */

.card {
	border: none !important;
	margin-bottom: 20px;
}

.card-img {
	width: 100%;
	height: 200px;
	overflow: hidden;
    max-height: inherit;
}
.card img {
	width: 100%;
	display: block;
	display: block;
}


.card-content {
	background-color: #f9f1f2;
	padding: 20px;
}

.card-travel  {
	background-color:  rgb(250, 235, 216, 0.75)!important;
}

.card-travel h3 {
	font-size: 25px;
	text-align: left;
	margin: 10px 0px !important;
	font-family : "Shadows Into Light", cursive;
}

.card-content p {
	font-size: 0.85rem;
	margin-bottom: 0.75rem;
}

.card-content ul {
	font-size: 0.85rem;
	margin-bottom: 0.75rem;
	list-style-type: circle;
}

.card h2 {
	font-size: 30px;
	text-align: left;
	margin: 10px 0px !important;
	font-family : "Shadows Into Light", cursive;
}

.card button {
	background-color: transparent;
	color: #a59696;
	border-radius: 3px;
	border: 1px solid #a59696;
	font-size: 0.75rem;
}

.card button:hover {
	background-color: #a59696;
	color: #fff;
	border-radius: 3px;
	border: 1px solid #a59696;
	font-size: 0.75rem;
	transition-duration: 0.5s
}

/* PICTURES */
@media screen and (max-width: 750px) {
	
	.pictures-left img {
		width: 100%;
		float:left;
		margin-bottom: 130px;
	}
	.pictures-right img {
		width: 100%;
		float:right;
		margin-bottom: 130px;
	}
	.legend-right {
		background-color: rgb(250, 235, 216, 0.75);
		padding: 10px;
	    position: absolute;
	    bottom: 5%;
	    left: 10%;
	    width: 80%;
	    font-size: 0.75rem;
	}

	.legend-left {
		background-color: rgb(250, 235, 216, 0.75);
		padding: 10px;
	    position: absolute;
	    bottom: 5%;
	    left: 10%;
	    width: 80%;
	    font-size: 0.75rem;
	}

	.legend h3 {
		font-size: 1.15rem;
		font-weight: bold;
		font-family : "Shadows Into Light", cursive;
	}
}

@media screen and (min-width: 751px) {
	
	.pictures-left img {
		width: 75%;
		float:left;
		margin-bottom: 50px;
	}
	.pictures-right img {
		width: 75%;
		float:right;
		margin-bottom: 50px;
	}
	.legend-right {
		background-color: rgb(250, 235, 216, 0.75);
		position: absolute;
		top: 75px;
		left: 65%;
		width: 30%;
		padding: 10px;
		font-size: 0.8rem;
	}
	.legend-left {
		background-color: rgb(250, 235, 216, 0.75);
		padding: 10px;
	    position: absolute;
	    top: 75px;
	    left: 5%;
		width: 30%;
	    font-size: 0.75rem;
	}	
	.legend h3 {
		font-weight: bold;
		font-size: 1.2rem;
		font-family : "Shadows Into Light", cursive;
	}
}

/* food */
@media screen and (max-width: 750px) {
	
	.food-left img {
		width: 100%;
		float:left;
		margin-bottom: 50px;
		padding: 10px;
	}
	.food-right img {
		width: 100%;
		float:right;
		margin-bottom: 50px;
		padding: 10px;
	}
	.legend-right {
		background-color: rgb(250, 235, 216, 0.75);
		padding: 10px;
	    position: absolute;
	    bottom: 5%;
	    left: 10%;
	    width: 80%;
	    font-size: 0.75rem;
	}

	.legend-left {
		background-color: rgb(250, 235, 216, 0.75);
		padding: 10px;
	    position: absolute;
	    bottom: 5%;
	    left: 10%;
	    width: 80%;
	    font-size: 0.75rem;
	}

	.food-legend h3 {
		font-size: 1rem;
		font-weight: bold;
		font-family : "Shadows Into Light", cursive;
	}
}

@media screen and (min-width: 751px) {
	
	.food-left img {
		width: 90%;
		float:left;
		margin-bottom: 50px;
	}
	.food-right img {
		width: 90%;
		float:right;
		margin-bottom: 50px;
	}
	.legend-right {
		background-color: rgb(250, 235, 216, 0.75);
		position: absolute;
		top: 75px;
		left: 65%;
		width: 30%;
		padding: 10px;
		font-size: 0.8rem;
	}
	.legend-left {
		background-color: rgb(250, 235, 216, 0.75);
		padding: 10px;
	    position: absolute;
	    top: 75px;
	    left: 5%;
		width: 30%;
	    font-size: 0.75rem;
	}	
	.food-legend h3 {
		font-weight: bold;
		font-size: 1rem;
		font-family : "Shadows Into Light", cursive;
	}
}

.legend button {
	background-color: transparent;
	color: #565050;
	border-radius: 3px;
	border: 1px solid #565050;
	font-size: 0.75rem;
}

.legend button:hover {
	background-color: #565050;
	color: #fff;
	border-radius: 3px;
	border: 1px solid #565050;
	font-size: 0.75rem;
	transition-duration: 0.5s
}
/* FOOTER */

footer {
	background-color: #4b5d4b;
	height: 40px;
	color: #fff;
	font-size: 0.75rem;
	margin-top:40px;
	line-height: 40px;
}

footer p {
	margin-bottom: 0px;
	text-align: right;
}
