/* IMPORTS */
/* COLORS */
/* FONTS */
body {
  font-family: "Raleway", Helvetica, Arial, sans-serif; }

/* HEADINGS */
h2 {
  font-family: "Shadows Into Light", cursive !important;
  text-align: center;
  font-size: 50px;
  margin: 30px 0px !important; }

/* NAV */
header {
  background-color: #4b5d4b; }

.navbar-collapse {
  justify-content: center; }

.navbar-brand {
  font-family: "Shadows Into Light", cursive !important; }

.navbar-nav li {
  font-size: 20px;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  font-family: "Shadows Into Light", cursive !important; }
.navbar-nav a {
  color: rgba(255, 255, 255, 0.5); }
  .navbar-nav a:hover, .navbar-nav a.active {
    color: #fff;
    text-decoration: none; }

.navbar-toggler {
  line-height: 1.5 !important; }
  .navbar-toggler .navbar-toggler-icon {
    color: #fff; }

/* JUMBOTRON */
.jumbotron {
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 10px #000;
  font-family: "Shadows Into Light", cursive !important;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media screen and (max-width: 540px) {
    .jumbotron h1 {
      font-size: 60px;
      margin-top: 60px; } }
  @media screen and (min-width: 541px) {
    .jumbotron h1 {
      font-size: 80px;
      margin-top: 40px; } }
  @media screen and (max-width: 540px) {
    .jumbotron h2 {
      font-size: 35px; } }
  @media screen and (min-width: 541px) {
    .jumbotron h2 {
      font-size: 45px; } }
  .jumbotron h3 {
    max-width: 600px;
    margin: auto; }
    @media screen and (max-width: 540px) {
      .jumbotron h3 {
        font-size: 25px; } }
    @media screen and (min-width: 541px) {
      .jumbotron h3 {
        font-size: 35px; } }

.hero {
  background-image: url("/Users/helene/Documents/PERSO/project/personal-website/assets/im/hero-image.jpg");
  height: 400px;
  margin-top: 58px; }

.separator {
  margin-top: 70px;
  margin-bottom: 50px !important;
  background-image: url("/Users/helene/Documents/PERSO/project/personal-website/assets/im/separator-image.jpg");
  height: 100px; }

/* CARDS */
.card {
  border: none !important;
  margin-bottom: 20px; }
  .card h2 {
    font-size: 30px;
    text-align: left;
    margin: 10px 0px !important;
    font-family: "Shadows Into Light", cursive !important; }
  .card button {
    background-color: transparent;
    color: #a59696;
    border-radius: 3px;
    border: 1px solid #a59696;
    font-size: 0.75rem; }
    .card button:hover {
      background-color: #a59696;
      color: #fff;
      transition-duration: 0.5s; }
  .card .card-img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    max-height: inherit; }
    .card .card-img img {
      overflow: hidden;
      width: 100%; }
  .card .card-content {
    background-color: #f9f1f2;
    padding: 20px; }
    .card .card-content p {
      font-size: 0.85rem;
      margin-bottom: 0.75rem; }
    .card .card-content ul {
      font-size: 0.85rem;
      margin-bottom: 0.75rem;
      list-style-type: circle; }
  .card .card-travel {
    background-color: #faebd8 !important; }
    .card .card-travel h3 {
      font-size: 25px;
      text-align: left;
      margin: 10px 0px !important;
      font-family: "Shadows Into Light", cursive !important; }

/* PICTURES */
@media screen and (max-width: 750px) {
  .pictures img {
    width: 100%;
    margin-bottom: 130px; } }
@media screen and (min-width: 751px) {
  .pictures img {
    width: 75%;
    margin-bottom: 50px; } }
.pictures img.left {
  float: left; }
.pictures img.right {
  float: right; }
.pictures img .food-picture {
  margin-bottom: 50px; }
  @media screen and (max-width: 750px) {
    .pictures img .food-picture {
      padding: 10px; } }
  @media screen and (min-width: 751px) {
    .pictures img .food-picture {
      width: 90%; } }

.legend-right {
  background-color: #faebd8;
  padding: 10px;
  position: absolute; }
  @media screen and (max-width: 750px) {
    .legend-right {
      right: 10%;
      width: 80%;
      font-size: 0.75rem;
      bottom: 5%; } }
  @media screen and (min-width: 751px) {
    .legend-right {
      top: 75px;
      right: 5%;
      width: 30%;
      font-size: 0.75rem; } }

.legend-left {
  background-color: #faebd8;
  padding: 10px;
  position: absolute; }
  @media screen and (max-width: 750px) {
    .legend-left {
      left: 10%;
      width: 80%;
      font-size: 0.75rem;
      bottom: 5%; } }
  @media screen and (min-width: 751px) {
    .legend-left {
      top: 75px;
      left: 5%;
      width: 30%;
      font-size: 0.75rem; } }

.legend h3 {
  font-size: 1.15rem;
  font-weight: bold;
  font-family: "Shadows Into Light", cursive !important; }
  .legend h3 .food-legend {
    font-size: 1rem; }

.legend button {
  background-color: transparent;
  color: #565050;
  border-radius: 3px;
  border: 1px solid #565050;
  font-size: 0.75rem; }
  .legend button:hover {
    background-color: #565050;
    color: #fff;
    transition-duration: 0.5s; }

/* FOOTER */
footer {
  background-color: #4b5d4b;
  height: 40px;
  color: #fff;
  font-size: 0.75rem;
  margin-top: 40px;
  line-height: 40px; }
  footer p {
    margin-bottom: 0px;
    text-align: right; }

/*# sourceMappingURL=main.css.map */
