/* IMPORTS */

@import "variables.scss";


body {
	font-family : $main-font;
}

/* HEADINGS */

h2 {
	font-family: $heading-font;
	text-align: center;
	font-size: 50px;
	margin: 30px 0px !important;
}

/* NAV */

header {
	background-color: $asparagus;
}

.navbar-collapse {
	justify-content: center;
}

.navbar-brand {
		font-family: $heading-font;

}
.navbar-nav {
	li {
		font-size: 20px;
		padding-left: 1rem;
		padding-right: 1rem;
		text-align: center;
		font-family: $heading-font;
	}
	a {
		color: rgba(255,255,255, 0.5);
		&:hover, &.active {
			color: $white;
			text-decoration: none;
		}
	}
}

.navbar-toggler {
	line-height: 1.5!important;
	.navbar-toggler-icon {
		color: $white;
	}
}

/* JUMBOTRON */

.jumbotron  {
	text-align: center;
	color: $white;
	text-shadow: 2px 2px 10px $black;
	font-family: $heading-font;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	h1 {
		@media screen and (max-width: 540px) {
			font-size: 60px;
			margin-top: 60px;
		}
		@media screen and (min-width: 541px) {
			font-size: 80px;
			margin-top: 40px;
		}
	}
	
	h2 {
		@media screen and (max-width: 540px) {
			font-size: 35px;
		}
		@media screen and (min-width: 541px) {
			font-size: 45px;
		}
	}
	
	h3 {
		max-width: 600px;
		margin: auto;
		@media screen and (max-width: 540px) {
			font-size: 25px;
		}
		@media screen and (min-width: 541px) {
			font-size: 35px;
		}
	}
}
.hero {
		background-image: url("/Users/helene/Documents/PERSO/project/personal-website/assets/im/hero-image.jpg");	
		height: 400px;
		margin-top:58px;
	}
	.separator {
		margin-top: 70px;
		margin-bottom: 50px !important;
		background-image: url("/Users/helene/Documents/PERSO/project/personal-website/assets/im/separator-image.jpg");
		height: 100px;
	}

/* CARDS */

.card {
	border: none !important;
	margin-bottom: 20px;	
	h2 {
		font-size: 30px;
		text-align: left;
		margin: 10px 0px !important;
		font-family : $heading-font;
	}
	
	button {
		background-color: transparent;
		color: $dusty-gray;
		border-radius: 3px;
		border: 1px solid $dusty-gray;
		font-size: 0.75rem;
		
		&:hover {
			background-color: $dusty-gray;
			color: $white;
			transition-duration: 0.5s
		}
	}
	.card-img {
		width: 100%;
		height: 200px;
		overflow: hidden;
	    max-height: inherit;
	    img {
	    	overflow: hidden;
    		width: 100%;
	    }
	}

	.card-content {
		background-color: $light-pink;
		padding: 20px;
		
		p {
			font-size: 0.85rem;
			margin-bottom: 0.75rem;
		}
		
		ul {
			font-size: 0.85rem;
			margin-bottom: 0.75rem;
			list-style-type: circle;
		}
	}
	.card-travel  {
			background-color:  rgb(250, 235, 216)!important;
			h3 {
				font-size: 25px;
				text-align: left;
				margin: 10px 0px !important;
				font-family : $heading-font;
			}
		}
}


/* PICTURES */
	
.pictures img {
	@media screen and (max-width: 750px) {
		width: 100%;
		margin-bottom: 130px;
	}
	@media screen and (min-width: 751px) {
		width: 75%;
		margin-bottom: 50px;
	}
	&.left {
		float: left;
	}
	&.right {
		float: right;
	}
	.food-picture  {
		margin-bottom: 50px;
		@media screen and (max-width: 750px) {
			padding: 10px;
		}
		@media screen and (min-width: 751px) {
			width: 90%;
		}
	}
}

.legend-right {
	background-color: rgb(250, 235, 216);
	padding: 10px;
    position: absolute;
    @media screen and (max-width: 750px) {  
	    right: 10%;
	    width: 80%;
	    font-size: 0.75rem;
	    bottom: 5%;
	}
	@media screen and (min-width: 751px) {
		top: 75px;
	    right: 5%;
		width: 30%;
	    font-size: 0.75rem;
	}
}

.legend-left {
	background-color: rgb(250, 235, 216);
	padding: 10px;
    position: absolute;
    @media screen and (max-width: 750px) {  
	    left: 10%;
	    width: 80%;
	    font-size: 0.75rem;
	    bottom: 5%;
	}
	@media screen and (min-width: 751px) {
		top: 75px;
	    left: 5%;
		width: 30%;
	    font-size: 0.75rem;
	}
}

.legend h3 {
	font-size: 1.15rem;
	font-weight: bold;
	font-family : $heading-font;
	.food-legend {
		font-size: 1rem;
	}
}

.legend button {
	background-color: transparent;
	color: $dark-dusty-gray;
	border-radius: 3px;
	border: 1px solid $dark-dusty-gray;
	font-size: 0.75rem;	
	&:hover {
		background-color: $dark-dusty-gray;
		color: $white;
		transition-duration: 0.5s
	}
}

/* FOOTER */

footer {
	background-color: $asparagus;
	height: 40px;
	color: $white;
	font-size: 0.75rem;
	margin-top:40px;
	line-height: 40px;
	p {
		margin-bottom: 0px;
		text-align: right;
	}
}