/* COLORS */

$white: #fff;
$black: #000;
$asparagus: #4b5d4b;
$light-pink: #f9f1f2;
$dusty-gray: #a59696;
$dark-dusty-gray: #565050;
$champagne: #fdf6ef;

/* FONTS */

$heading-font: "Shadows Into Light", cursive !important;
$main-font: "Raleway",Helvetica,Arial,sans-serif;